h1 {
  font: arial;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: blue;
}

img {
  border-image: black;
  
}

body {
  font: Arial;
  background-color: lightcoral;
  background: url(http://csszengarden.com/001/blossoms.jpg) no-repeat bottom right;
  
}
